/.quarto/
**/.ipynb_checkpoints

.DS_Store

_build

WebBook/_book/
WebLectures/_slides/

**/.quarto/
WebBook/.quarto/_freeze/*
WebBook/.quarto/*

WebSlides/.quarto/*

# pixi environments
.pixi
*.egg-info

## If you run jupyter-lite locally, it can mess up the github deployment if you leave these in place
#
**/.jupyterlite.doit.db
_output
**/.jupyter
jupyterlite/dist/

# Claude Code local files
CLAUDE
node_modules/
package.json
package-lock.json
